@model IngredientesPizzaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cadastro Ingredientes da Pizza</h2>
<form action="save" method="post" class="col-md-6">

    <input type="hidden" value="@ViewBag.Operacao" name="Operacao" />

    <label for="Id" class="control-label">Código do ingrediente da Pizza</label>

    @if (ViewBag.Operacao == "I")
    {
        <input type="number" Name="Id" value="@Model.Id" class="form-control" />
    }
    else
    {
        <input type="number" Name="Id" value="@Model.Id" readonly class="form-control" />
    }
    <span asp-validation-for="Id" class="text-danger"></span>

    <label for="PizzaId" class="control-label">Código da Pizza</label>
    <input type="number" Name="PizzaId" value="@Model.PizzaId" class="form-control" readonly />  


    <br />
    <label for="Descrição" class="control-label">Nome da ingrediente</label>
    <input type="text" class="form-control" Name="Descricao" value="@Model.Descricao" />
    <span asp-validation-for="Descricao" class="text-danger"></span>
    <br />

    <input type="submit" class="btn btn-info" value="Salvar dados" />
    <br />
</form>